<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace绑定一个对应的mapper接口-->
<mapper namespace="com.kuang.dao.UserMapper">

    <!--这里面的User是简写，在核心配置文件中注册了，完整的是com.kuang.pojo.User-->
    <resultMap id="UserMap" type="User">
        <!--column是数据库中的字段，property是实体类中的属性-->
        <result column="pwd" property="password"></result>
    </resultMap>

    <select id="getUserById" parameterType="int" resultMap="UserMap" >
        select * from user where id = #{id}
    </select>

    <select id="getUserByLimit" parameterType="map" resultMap="UserMap">
        select * from user limit #{startIndex},#{pageSize}
    </select>
</mapper>
